{:paths ["src/main/clojure" "src/main/resources"]
 :deps  {org.clojure/tools.logging {:mvn/version "0.4.1"}}
 :aliases
 {:dev {:extra-deps {cheshire               {:mvn/version "RELEASE"}
                     org.clojure/core.async {:mvn/version "RELEASE"}}}}}
