{:paths ["src/main/clojure" "src/main/resources"]
 :deps  {org.clojure/clojure            {:mvn/version "RELEASE"}
         org.clojure/tools.logging      {:mvn/version "RELEASE"}
         ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}
 :aliases
 {:test {:extra-deps {cheshire                  {:mvn/version "RELEASE"}
                      metosin/jsonista          {:mvn/version "RELEASE"}
                      com.cognitect/transit-clj {:mvn/version "RELEASE"}
                      org.clojure/core.async    {:mvn/version "RELEASE"}}}}}
